/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



/* First Page */

/* Top Nav Section */

a {
	text-decoration: none;
}

.navClass a {
	display: inline-block;
	width: 10%;
	color: dimgray;
	text-align: center;
}

.navClass {
	margin-left: 50px;
	margin-top: 20px;
}

.logo {
	display: inline-block;
}

/* Header containing Innovation on Demand, Get Started, 
and the circle photo */



h1 {
	font-size: 70px;
}

.titleDivClass {
	display: inline-block;
	text-align: center;
	margin: 100px;  
	margin-bottom: 50px;
}

#circlePhotoTopID {
	width: 37%;
	margin-top: 60px;
	margin-right: 50px;
}

#getStartedBoxID {
	border: 2px solid black;
	padding: 8px;
	width: 180px;
	margin-left: 52px;
}

/* Top Text Section for Features and About */

.topSectionClass {
	margin: 50px;
	padding-top: 20px;
	border-top: 2px solid black;
}

.featuresDivClass {
	
	display: inline-block;
	width: 45%;
	margin-right: 30px;
}

.aboutDivClass {
	display: inline-block;
	width: 45%;
}
/* Middle Rectangle Image with code */

.middle-img {
	margin-left: 50px;
	width: 85%;
}

/* Bottom Text Section for Services, Product, and Vision */

.bottomSectionClass {
	margin: 50px;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

.servicesDivClass {
	display: inline-block;
	width: 30%;
}

.productDivClass {
	display: inline-block;
	width: 30%;
	margin-left: 14px;
	margin-right: 14px;
}

.visionDivClass {
	display: inline-block;
	width: 30%;
}

/* Contact Section */

.contactSectionClass {
	margin: 50px;
	display: block;
}

#phoneID {
	margin-top: 12px;
	margin-bottom: 12px;
}

/* Footer */

footer {
	text-align: center;
	padding-bottom: 50px;
	margin-bottom: 50px;
}






/* SERVICES PAGE */

.servicesNavClass {
display: flex;
justify-content: space-between;
padding: 3%;
/* border: 4px solid red; */
}

.servicesNavLinksClass {
	display: flex;
	justify-content: space-between;
	/* border: 4px solid red; */
	width: 60%;
	padding: 1%;
	align-content: center;
	
}

.servicesNavLinksClass a {
	
	align-content: center;
	color: dimgray;
}

.services-header-img {
	margin: 3%;
}

.servicesHeaderClass {
	display: flex;
	margin: 4%;
	margin-bottom: 6%;
	border-bottom: 2px solid black;
	padding-bottom: 6%;
	font-size: 18px;
}

.servicesHeaderDivClass {
	display: flex:
}

.navAndHeaderClass {
	/* border: 4px solid red; */
	display: flex;
	flex-direction: column;
	/* align-content: flex-start; */
}


.twoColumn6BoxSectionClass {
display: flex;
/* border: 3px solid black; */
height: 95%;
flex-wrap: wrap;
justify-content: center;
justify-content: space-evenly;
align-content: space-between;
margin: 1%;
margin-bottom: 7%;




}

.twoColumn6BoxSectionClass div {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 46%;
	box-sizing: border-box;
	align-items: flex-start;
	padding: 2%;
	background-color:rgb(235, 235, 235);
	
	

}

.twoColumn6BoxSectionClass button {
	margin-top: 6%;
}

.bottomSectionWithPhoto {
	display: flex;
	justify-content: space-around;
	padding-top: 6%;
	padding-bottom: 8%;
	margin-left: 4%;
	margin-right: 4%;
	flex-direction: row;
	border-top: 2px solid black;
	
	/* margin-bottom: 8%; */
	/* margin: 2%; */
	/* flex-wrap: wrap; */
	/* border: 4px solid red; */
	
}


.services-info-img {
	width: 48%;
	height: 48%;
	/* border: 4px solid red; */
	
}

.bottomSectionWithoutPhoto {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-right: 10%;
	/* border: 4px solid red; */
	
	/* align-items: flex-start; */
	/* justify-content: flex-start; */
}


.bullet li {
	list-style-type: square;
	
}

.bullet {
/* border: 4px solid red; */
box-sizing: border-box;
padding-left: 7%;
padding-top: 3%;
}